# Build folder
/[Bb]uilds/*
!/[Bb]uilds/Linux steam files
!/[Bb]uilds/Windows steam files

# Mono metadata
.mono/metadata

# Godot import metafiles
.import
*.import

# Exclude rider idea data
.idea

# Temp files for c# @TODO to be reworked
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Builds
*.apk
